body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start;
}

.todo-image {
    width: 500px; /* Adjust the width as needed */
    border-radius: 15px;
    margin-right: 50px; /* Space between image and card */
}

.todo-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    flex-grow: 1;
    margin-right: 10px;
}

input[type="text"]::placeholder {
    color: black;
}

button {
    background-color: orange;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e69500;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

li .delete {
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
}
